doctype html
html(lang="ru")
    include mixins.pug 
    +_head__auth
        title VPN Owl - Login
    body
        +_auth('signup', 'Create your VPN', 'Owl account', 'SIGN UP', '../img/signup.svg', {name: 'email', placeholder: 'E-mail', type: 'email'}, {name: 'password', placeholder: 'Password', type: 'password'}, {name: 'repeat_password', placeholder: 'Retype your password ', type: 'password'})